
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
  height: 100%;
}

header {
  background-image: url('img/sfondo2.jpg');
  background-size: cover;
  background-position: center;
  color:#ffffff;
  text-align: center;
  padding: 40px 20px;
  height: 300px;
}


nav {
  background-color: #aa977a
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 16px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}

nav ul li a:hover {
  background-color: #f0f7f5;
  color: black;
  transition: 0.3s;
}

main {
  padding: 40px 20px;
}


#what-is-coltan {
  display: flex;
  gap: 20px;
  background-color: #ecf0f1;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.coltan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.coltan-img {
  width: 170px;
  height: 330px;
  border-radius: 8px;
}

.coltan-text {
  max-width: 70%;
  font-size: 17px;
  line-height: 1.6;
  color: #34495e;
  margin-left: 20px;
}

section {
  background-color: #ecf0f1;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
  color:#34495e;
}

section p {
  font-size: 17px;
  line-height: 1.6;
  color: #34495e;
}

section a {
  color: #2980b9;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}
footer {
  background-color: #BDA786;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container div {
  flex: 1 1 30%;
  margin: 20px;
  box-sizing: border-box;
}
